<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    ">

    <bean id="myDB" class="com.beanInitDestroy.DatabaseOperations" scope="singleton"> </bean>


    <bean id="myCircle" class="com.beanInitDestroy.Circle" scope="singleton">
        <constructor-arg ref="myDB"/>
    </bean>

    <bean id="mySquare" class="com.beanInitDestroy.Square" scope="prototype">
        <property name="databaseOperations" ref="myDB"/>
    </bean>

    <bean id="myDatabaseOperations"
          class="com.beanInitDestroy.DatabaseOperations"
          init-method="connectToDatabase"
          destroy-method="disconnectFromDatabase"/>


</beans>





