.error {
             color: red;
                font-size: 14px;
            }
            .form-control {
                max-width: 400px;
                }

            .container {
                max-width: 600px;
                margin-top: 50px;
            }
}